<h1>Checkout - Address</h1>

<%= form_with url: checkout_summary_path, method: :post, local: true do |f| %>
  <label>Full name</label>
  <%= text_field_tag "address[full_name]", current_user&.email %><br>

  <label>Address</label>
  <%= text_field_tag "address[address]", current_user&.address %><br>

  <label>City</label>
  <%= text_field_tag "address[city]", current_user&.city %><br>

  <label>Postal</label>
  <%= text_field_tag "address[postal]", current_user&.postal %><br>

  <label>Province</label>
  <%= select_tag "address[province_id]", options_from_collection_for_select(@provinces, :id, :name, current_user&.province_id), include_blank: "Select province" %><br>

  <%= submit_tag "Continue to summary" %>
<% end %>
