<!DOCTYPE html>
<html>
  <head>
    <title>CafeRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Stylesheets (Sprockets) -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Front-end JS via Importmap (Turbo + Stimulus) -->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "About", page_path("about") %> |
        <%= link_to "Contact", page_path("contact") %> |
        <%= link_to "Products", products_path %> |
        <%= link_to "Cart (#{session[:cart]&.values&.sum || 0})", cart_index_path %> |
        <%= link_to "Checkout", checkout_address_path %>
      </nav>

    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>

